<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.learnandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1574771352590790"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.general.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.general.LoginActivity" />
        <activity android:name=".activity.general.RegisterActivity" />
        <activity android:name=".activity.course.CourseMapActivity" />
        <activity android:name=".activity.general.UserAccountActivity" />
        <activity android:name=".activity.general.ProfileEditActivity" />
        <activity android:name=".activity.general.ChangePasswordActivity" />
        <activity android:name=".activity.course.CourseFragmentActivity" />
        <activity android:name=".activity.fragment_concept.FragmentIntroductionActivity" />
        <activity android:name=".activity.fragment_concept.FragmentLifeCycleActivity" />
        <activity android:name=".activity.fragment_concept.FragmentTypesActivity" />
        <activity android:name=".activity.fragment_concept.FragmentConceptQuizActivity" />
        <activity android:name=".activity.fragment_concept.FragmentConceptQuizResultsActivity" />
        <activity android:name=".activity.fragment_concept.FragmentConceptInfoActivity" />
        <activity android:name=".activity.fragment_concept.FragmentConceptQuizInfoActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentInfoActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentIntroActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentExampleActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentQuizActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentQuizResultsActivity" />
        <activity android:name=".activity.static_fragment.StaticFragmentQuizInfoActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentInfoActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentIntroActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentExampleActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentQuizInfoActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentQuizActivity" />
        <activity android:name=".activity.dynamic_fragment.DynamicFragmentQuizResultsActivity" />
        <activity android:name=".activity.course.CourseUserInterfaceActivity" />
        <activity android:name=".activity.user_interface.AndroidIntroductionActivity" />
        <activity android:name=".activity.user_interface.UserInterfaceLayoutActivity" />
        <activity android:name=".activity.user_interface.UserInterfaceElementsActivity" />
        <activity android:name=".activity.user_interface.UserInterfaceQuizInfoActivity" />
        <activity android:name=".activity.general.UserFeedbackActivity" />
        <activity android:name=".activity.general.ExploreActivity" />
        <activity android:name=".activity.general.TermsAndConditionsActivity" />
        <activity android:name=".activity.general.PrivacyActivity" />
        <activity android:name=".activity.course.CourseIntentActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityInfoActivity" />
        <activity android:name=".activity.intent.IntentInfoActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityIntroActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityLifeCycleActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityQuizInfoActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityQuizActivity" />
        <activity android:name=".activity.android_intro.AndroidActivityQuizResultsActivity" />
        <activity android:name=".activity.general.AcknowledgementsActivity" />
        <activity android:name=".activity.general.AchievementsActivity" />
        <activity android:name=".activity.user_interface.UserInterfaceQuizActivity" />
        <activity android:name=".activity.user_interface.UserInterfaceQuizResultsActivity" />
        <activity android:name=".activity.intent.IntentIntroActivity" />
        <activity android:name=".activity.intent.IntentQuizInfoActivity" />
        <activity android:name=".activity.intent.IntentQuizActivity" />
        <activity android:name=".activity.intent.IntentQuizResultsActivity" />
        <activity android:name=".activity.course.CoursePassingDataActivity" />
        <activity android:name=".activity.broadcast.BroadcastInfoActivity" />
        <activity android:name=".activity.shared_pref.SharedPrefInfoActivity" />
        <activity android:name=".activity.shared_pref.SharedPrefIntroActivity" />
        <activity android:name=".activity.broadcast.BroadcastQuizInfoActivity" />
        <activity android:name=".activity.shared_pref.SharedPrefExampleActivity" />
        <activity android:name=".activity.broadcast.BroadcastQuizActivity" />
        <activity android:name=".activity.broadcast.BroadcastQuizResultsActivity" />
        <activity android:name=".activity.broadcast.BroadcastIntroActivity" />
        <activity android:name=".activity.intent.IntentPassDataActivity" />
        <activity android:name=".activity.course.CourseDatabaseActivity" />
        <activity android:name=".activity.database.DatabaseInfoActivity" />
        <activity android:name=".activity.database.DatabaseIntroActivity" />
        <activity android:name=".activity.database.DatabaseExampleActivity" />
        <activity android:name=".activity.database.DatabaseQuizInfoActivity" />
        <activity android:name=".activity.database.DatabaseQuizActivity" />
        <activity android:name=".activity.database.DatabaseQuizResultsActivity" />
        <activity android:name=".activity.course.CoursePermissionActivity" />
        <activity android:name=".activity.permission.PermissionInfoActivity" />
        <activity android:name=".activity.permission.PermissionIntroActivity" />
        <activity android:name=".activity.general.BackgroundImageRefActivity" />
        <activity android:name=".activity.general.CourseContentRefActivity" />
        <activity android:name=".activity.general.CourseQuizRefActivity"></activity>
    </application>

</manifest>